@model MVC.Models.LotViewModel
@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    
    /*$.fn.error=function(xhr, status, error) {
        var err = eval("(" + xhr.responseText + ")");
        alert(err.Message);
    }*/
    function failure(xhr, status, error) {
        $('#message').css('color', 'red');
        $('#message').text(error);
    };

    function success() {
        $('#message').css('color', 'green');
        $('#message').text('Your bid has been successfully placed');
    }
    

</script>
<h2>@Model.Name</h2>
@if ((!Model.LotClosed) && (!Model.LotEnded))
{
    if (ViewBag.IsAdminOrModerator)
    {
        @Html.ActionLink("Close Lot", "Close", new { id = Model.Id })
        <br/>
        @Html.ActionLink("End Lot", "End", new { id = Model.Id })
        <br/>
        @Html.ActionLink("Delete Lot", "Delete", new {id = Model.Id})
        <br/>
    }
    if (ViewBag.SamePerson || ViewBag.IsAdminOrModerator)
    {
        @Html.ActionLink("Update Lot information", "Update", new {id = Model.Id})
    }
}
else
{
    if (Model.LotClosed)
    {
        <h2><span style="color: red;">Lot was closed by site Administration</span></h2>
    }
    else
    {
        <h2><span style="color: red;">Lot has ended</span></h2>
    }
}
<div class="container">
    <div style="width: 40%; float: left">
        <img src="@Url.Action("GetImage", "Lot", new {lotId = Model.Id, isPreview = false})"/>
    </div>
    <div style="width: 60%; float: left">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(x => x.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayName("Created by")
            </dt>

            <dd>
                @Html.ActionLink(Model.CreatedByUser.DisplayName, "Details", new {userId = Model.CreatedByUser.Id, controller = "Users"})
            </dd>
            <dt>
                @Html.DisplayNameFor(x => x.LotDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LotDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(x => x.MinimalBid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MinimalBid)
            </dd>

            <dt>
                @Html.DisplayName("Current bid")
            </dt>

            <dd>
                @Html.Raw(ViewBag.TopBid)
            </dd>

            <dt>
                @Html.DisplayNameFor(x => x.BuyOutBid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BuyOutBid)
            </dd>
            <dt>
                @Html.DisplayNameFor(x => x.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

        </dl>
    </div>
</div>
<div id="message"></div>
@if ((!ViewBag.SamePerson) && (ViewBag.AutorizedAndNotBanned) && (!Model.LotClosed) && (!Model.LotEnded))
{
    <h5>Place bid</h5>
    
    using (Ajax.BeginForm("Create", "Bid", new AjaxOptions() { HttpMethod = "Post", OnFailure = "failure",OnSuccess = "success"}))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="lotId" value="@Model.Id" />
        <span>Amount</span>
        <br />
        @Html.TextBox("Amount")
        <br />
        <input type="submit" value="Submit" />
    }
}

<br/>
<br/>
@if (ViewBag.TopBid > 0m)
{
    <h6>Latest bids</h6>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("User name")
            </th>
            <th>
                @Html.DisplayName("Amount")
            </th>
            <th>
                @Html.DisplayName("Placed")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.LatestBids)
        {
            <tr id="@item.Id">
                <td>
                    @Html.ActionLink(item.User.DisplayName, "Details", new { id = item.User.Id, controller = "Users" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placed)
                </td>
                <td>
                    @if (ViewBag.IsAdminOrModerator&&(!(Model.LotClosed||Model.LotEnded)))
                    {
                        @Ajax.ActionLink("Remove", "Delete", "Bid", new {id = item.Id}, new AjaxOptions() {Confirm = "Are you sure you want to delete this bid? (This action is irreversible!)", OnSuccess = "RemoveRowById('" + item.Id + "')"})
                    }
                </td>
            </tr>
        }

    </table>
}
@Scripts.Render("~/scripts/jquery-1.10.2.min")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/scripts/CustomRowRemover.js")
