@using MVC.Models
@model MVC.Models.LotViewModel
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.AutorizedAndNotBanned)
{
    @Html.ActionLink("Crete new Lot", "Create")
}

@using (Html.BeginForm("Index","Lot", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.DisplayName("Search");
    <br/>
    @Html.LabelFor(x=>x.SearchString, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(y=>y.SearchString)
    <br/>
    <span>@Html.RadioButtonFor(x => x.SearchInName, "true")Search in name</span>
    <span>@Html.RadioButtonFor(x => x.SearchInName, "false")Search in description</span>
    <input type="submit" value="Submit" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Lot Preview Image")
        </th>
        <th>
            @Html.DisplayName("Lot Id")
        </th>
        <th>
            @Html.DisplayName("Lot Name")
        </th>
        
        <th>
            @Html.DisplayName("Created By")
        </th>
        <th>
            @Html.DisplayName("End Date")
        </th>
        <th></th>
    </tr>

    @foreach (var item in (ViewBag.Content as IEnumerable<LotViewModel>))
    {
        <tr>
            <td>
                <img src="@Url.Action("GetImage", "Lot", new {lotId = item.Id, isPreview = true})"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.Id})
                @if (ViewBag.IsAdminOrModerator)
                {
                     @Html.ActionLink("Update", "Update", new {id = item.Id})
                     @Html.Raw(" ")
                     @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                }
                
            </td>
        </tr>
    }

</table>


