@using System.Data.Entity.Core.Objects
@model MVC.Models.LotViewModel
@{
    ViewBag.Title = "Update lot";
}

<h2>Update</h2>

<br>
<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <h4>Create new lot</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LotDescription, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.LotDescription, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MinimalBid, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MinimalBid, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BuyOutBid, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BuyOutBid, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @if (ViewBag.HasImage)
        {
            <div class="col-md-offset-2">
                Current picture:
            </div>
            <div class="col-md-offset-2">
                <img src="@Url.Action("GetImage", "Lot", new {lotId = Model.Id, isPreview = false})" />
            </div>
            <div class="col-md-offset-2">
                @Html.EditorFor(x => x.DeletePicture)Do you want to delete it?
            </div>

        }
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            Choose a picture for your lot (Optional)<br />
            <input type="file" name="fileUpload" accept="image/*" />
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
</form>
